.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.background{
  background-color: #021A32;
  padding:7% 10% 7% 10%;
  position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}
img{
  height: 95%;
  width: 95%;
  object-fit:cover; 
}
.container{
  min-height: 100%; /* Mindesthöhe für moderne Browser */
  height:auto !important; /* Important Regel für moderne Browser */ 
  height:90%;
  width:90%;
  background-color: #fff;
}
#Survey{
  color:#fff;
  font-size: 11px;
  padding: 5px;
  margin-left: 10%;
}
#AdminSurvey{
  color:#fff;
  font-size: 11px;
  padding: 5px;
  margin-left: 30%;
}
#Guidelines{
  color:#fff;
  font-size: 11px;
  padding: 5px;
  margin-left: 5%;
}
#logout{
  color:#fff;
  font-size: 11px;
  padding: 5px;
  margin-left: 5%;
}
#image{
  padding:0%;
}
#navlogo{
  color: #fff;
  font-weight: 600;
  margin-bottom: 25px;
}
#submit{
  margin-top: 10%;
}
.formfield{
  margin-top: 20%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 8%;
  border-style: groove;
  border-radius: 10px;
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
